<section class="section">
  <div class="columns is-centered">
    <div class="column is-half">
      <h1 class="has-text-centered has-text-info-dark is-size-5">Login</h1>
      <%= form_with(url: login_path, scope: :session, local: true, class: "columns is-mobile") do |f| %>
        <div class="column is-half-desktop is-offset-one-quarter-desktop">
          <div class="field is-grouped-centered">
            <%= f.label :email, class: "label" %>
            <%= f.email_field :email, class: "input", placeholder: "foo@bar.com"%>
          </div>

          <div class="field is-grouped-centered">
            <%= f.label :password, class: "label" %>
            <%= f.password_field :password, class: "input", placeholder: "foobar" %>
          </div>

          <div class="field is-grouped-centered">
            <%= f.label :remember_me, class: "label" %>
            <%= f.check_box :remember_me, class: "checkbox" %>
          </div>

          <div class="field is-grouped-centered">
            <%= f.submit "Log In", class: "input button is-primary has-text-light has-text-weight-bold" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-half is-offset-one-quarter">
      <p class="has-text-dark">Need an account? Click <%= link_to "here", new_user_path %> to register.</p>
      <p class="is-size-7 has-text-warning-dark">Tip: use placeholder info to try site without signing up.</p>
    </div>
  </div>
</section>
