<h1>event info for <%= @user.name %>:</h1>
<div>
  <% if @user.hosted_events.any? %>
    <h3> Hosted Events </h3>
  <% end %>
  <ul>
    <% @user.hosted_events.each do |event| %>
        <li><%= link_to event.title, event %></li>
    <% end %>
  </ul>

  <% if @user == current_user %>
    <h3>You're invited to</h3>
  <% else %>
    <h3> <%= @user.name %> is invited to </h3>
  <% end %>
  <ul>
    <% @user.invited_events.upcoming.each do |event| %>
      <li>
        <%= link_to event.title, event %>
      </li>
    <% end %>
  </ul>
  <h3>Previously Attended</h3>
    <ul>
      <% previously_attended_events.each do |event| %>
        <li>
          <%= link_to event.title, event %>
        </li>
      <% end %>
    </ul>
</div>
