<section class="section">
  <h1 class="title is-size-4-desktop is-size-5-mobile has-text-centered">Private Events for <%= @user.name %></h1>
  <div class="columns is-desktop">
    <div class="column is-half is-offset-one-quarter">
    <% if current_user?(@user) && rsvps_pending.any? %>
      <%= render 'invitations/pending_invitations' %>
    <% end %>
    </div>
  </div>

  <%= render 'hosted_events' %>

  <% if yes_rsvps_future.any?%>
    <%= render 'invitations/planning_to_attend' %>
  <% end %>

  <% if no_rsvps_future.any? %>
    <%= render 'invitations/attendance_canceled' %>
  <% end %>

  <%= render 'invitations/previously_attended_events' %>
</section>
