<h1>Events Page for <%= @user.name %>:</h1>
<div>
  <h3> Hosted </h2>
  <ul>
    <% @user.hosted_events.each do |event| %>
        <li><%= event.title %> | <%= event.location %></li>
    <% end %>
  </ul>
  <h3>Invited </h3>
  <ul>
    <% @user.invited_events.each do |event| %>
        <li><%= event.title %> | <%= event.location %></li>
    <% end %>
  </ul>
  <h3>Attending</h3>
    <ul>
      <li>show attending events</li>
    </ul>
</div>

