<h1>event info for <%= @user.name %>:</h1>
<div>
  <h3> Hosted Events </h3>
  <ul>
    <% @user.hosted_events.each do |event| %>
        <li><%= link_to event.title, event %></li>
    <% end %>
  </ul>

  <h3>Upcoming</h3>
  <ul>
    <% @user.invited_events.upcoming.each do |event| %>
      <% response = find_attendance_response(event) %>
      <li>
        <%= link_to event.title, event %><span> Attending: <%= response %></span>
        <% if current_user == @user %>
           <p><%= link_to "RSVP", find_invitation(event) %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
  <h3>Previously Attended</h3>
    <ul>
      <% previously_attended_events.each do |event| %>
        <li><%= event.title %></li>
      <% end %>
    </ul>
</div>
