<h1>event info for <%= @user.name %>:</h1>
<div>
  <h3> Hosted </h3>
  <ul>
    <% @user.hosted_events.each do |event| %>
        <li><%= event.title %> | <%= event.location %></li>
    <% end %>
  </ul>
  <h3>Invited </h3>
  <ul>
    <% @user.invited_events.each do |event| %>
        <li><%= event.title %> | <%= event.location %></li>
    <% end %>
  </ul>
  <h3>Upcoming Events</h3>
      <ul>
      <% @user.invited_events.upcoming.each do |event| %>
        <li><%= event.title %></li>
      <% end %>
    </ul>
  <h3>Previously Attended Events</h3>
    <ul>
      <% @user.invited_events.past.each do |event| %>
        <li><%= event.title %></li>
      <% end %>
    </ul>
</div>

<% 
# @past_event_invites = @received_invitations.select { |i| i.attending == "yes" && i.event.past }
%>


