  
<div class="column is-half is-offset-one-quarter has-text-centered">
  <div class="columns is-mobile">
    <div class="column is-half">
      <h4 class="subtitle is-size-4-desktop">Invitees</h4>
      <ul>
        <% if current_user_hosts_upcoming_event?(@event)%>
          <% @event.invitations.includes(:invitee).order(updated_at: :desc).each do |invitation| %>
            <li>
              <div class="columns is-mobile">
                <div class="column is-one-third">
                  <%= link_to invitation.invitee.name, invitation.invitee, class: "is-size-5-desktop has-text-grey-dark" %>
                </div>
                <div class="column is-one-third">
                </div>
                <div class="column is-one-third">
                  <%= button_to "uninvite", 
                                  invitation_path(invitation), 
                                  method: :delete,
                                  remote: true,
                                  class: 'button is-warning has-text-weight-bold is-small'
                                  %>
                </div>
              </div>
            </li>
          <% end %>
        <% else %>
          <% @event.invitations.includes(:invitee).each do |invitation| %>
            <div class="columns">
              <div class="column">
                <li><%= link_to invitation.invitee.name, invitation.invitee, class: "is-size-5-desktop" %></li>
              </div>
            </div>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="column is-half">
        <h4 class="subtitle is-size-4-desktop">Attendees</h4>
        <ul>
          <% @event.invitations.where(attending: 'yes').each do |invitation| %>
            <div class="columns">
              <div class="column is-two-thirds">
                <li><%= link_to invitation.invitee.name, invitation.invitee, class: "is-size-5-desktop" %></li>
              </div>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <%= link_to "<< back to My Events", current_user %>
