<% if @messages %>
  <div>
    <% if Event.upcoming.include?(@event)%>
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <div id="message-form">
            <%= form_with model: @message, local: false do |f| %>
              <%= f.hidden_field :event_id, value: @event.id %>
              <div class="field has-addons">
                <div class="control">
                  <%= f.text_area :body, id: 'message-input', class: 'input text-area' %>
                </div>
                <div class="control">
                  <%= f.submit 'Send Message', class: 'button is-success is-outlined mx-3' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <p class="has-text-info has-background-dark is-size-5">Member discussion for <span class="is-italic"><%= @event.title.titleize %></span></h1>
    <% else %>
      <p class="has-text-warning has-background-dark">Discussion for this event is now closed
    <% end %>
    <div id="message-display-<%=@event.id%>">
      <% if @messages.none? %>
        <p>No discussion yet.</p>
      <% else %>
        <% @messages.each do |message| %>
          <article class="message is-dark">
            <div class="message-header">
              <p><%= message.user.name %></p>
              <p><%= message.created_at%></p>
            </div>
            <div class="message-body has-background-grey-light has-text-dark">
              <%= message.body %>
            </div>
          </article>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>