<section class="section" id="top">
  <div class="columns is-mobile">
    <div class="column">
      <div class="level is-mobile">
        <h3 class="level-item title is-4">All Events</h3>
      </div>
    </div>
  </div>

  <h3 class="subtitle has-text-primary-dark">Upcoming Events</h3>
  <div class="columns is-mobile">
    <div class="column">
      <ul>
        <div class="columns is-desktop is-multiline">
          <% @upcoming_events.order(:start_time).each do |event| %>
            <div class="column is-half-desktop">
              <li class="box mx-3 my-3 py-3 has-background-white">
                <ul>
                  <div class="columns is-multiline">
                    <li class="column is-one-fourth">
                      <span class=" is-capitalized has-text-link-dark is-size-4-desktop">
                        <%= link_to event.title, event %>
                      </span>
                    </li>
                    <li class="column is-one-fourth">
                      <span class="has-text-dark is-size-5 is-capitalized">
                        <%=event.location %>
                      </span>
                    </li>
                    <li class="column is-one-fourth">
                      <span class="has-text-dark is-size-6">
                        Starts in <%= future_time_in_days(event)%>
                      </span>
                    </li>
                    <% if event.invitees.include?(current_user) %>
                      <li class="column is-one-fourth">
                        <%= link_to "RSVP", event, class: "button is-medium has-text-weight-bold has-text-light has-background-primary-dark" %>
                      </li>
                    <% else %>
                      <li class="column is-one-fourth">
                        <%= link_to "Details", event, class: "button is-medium has-text-weight-bold has-text-light has-background-info-dark" %>
                      </li>
                    <% end %>
                  </div> 
                </ul>
              </li>
            </div>
          <% end %>
        </div>
      </ul>
    </div>
  </div>

<div class="columns is-mobile">
  <div class="column">
    <%= will_paginate @upcoming_events, class: "apple_pagination" %>
  </div>
</div>

  <div class="columns is-mobile">
    <div class="column">
      <%= link_to "back to top", "/events/#top", class: "has-text-warning-dark" %>
    </div>
  </div>
        
  <div class="columns is-mobile is-hidden-mobile">
    <div class="column">
      <h3 class="subtitle has-text-primary-dark">Past Events</h3>
        <% if @past_events.count > 50 %>
          <p class="is-size-7">only past 50 events listed</p>
        <% end %>
        <ul>
          <% @past_events.order(:start_time).limit(50).each do |event| %>
            <li><%= link_to event.title, event, class: "is-size-6-desktop has-text-link-dark" %></li>
          <% end %>
        </ul>
    </div>
  </div>
</section>


