<section class="section">
  <div class="columns is-mobile">
    <h1 class="is-size-5 column is-half is-offset-one-quarter has-text-info-dark">Create a New Event</h1>
  </div>

  <%= form_with(model: @event, local: true, class: "columns is-mobile") do |f| %>
    <div class="column is-half is-offset-one-quarter">
    <%= render 'shared/error_messages', object: f.object %>
      <div class="field is-grouped-centered">
        <%= f.label :title, class: "label" %>
        <%= f.text_field :title, class: "input", placeholder: "A descriptive title" %>
      </div>

      <div class="field is-grouped-centered">
        <%= f.label :location, class: "label" %>
        <%= f.text_field :location, class: "input", placeholder: "Anywhere, USA" %>
      </div>

      <div class="field is-grouped-centered">
        <%= f.label :description, class: "label" %>
        <%= f.text_area :description, class: "input", placeholder: "a short summary of important event information" %>
      </div>
      
      <div class="field is-grouped-centered">
        <%= f.label :start_time, class: "label" %>
        <%= f.date_field :start_time, class: "select" %>
      </div>

      <div class="field is-grouped-centered">
        <%= f.submit "Create Event", class: "input has-background-success has-text-light has-text-weight-bold" %>
      </div>
    </div>
  <% end %>
</section>
