<h1><%= @event.title %></h1>
<h2>host: <%= link_to @event.host.name, @event.host %></h2>
<% if current_user == @event.host %>
  <%= form_with(model: @event.host.sent_invitations.new ) do |f| %>
    <%= f.hidden_field :event_id, value: @event.id %>
    <%= f.collection_select(:invitee_id, User.all.where("id != ?", @event.host.id), :id, :name) %>

    <%= f.submit "Invite" %>
  <% end %>

<% end %>
<% if Event.upcoming.include?(@event) %>
  <h3>Invitees</h3>
<% else %>
  <h3>Attendees</h3>
<% end %>
<ul>
  <% @event.invitations.each do |invitation| %>
    <li><%= link_to invitation.invitee.name, invitation.invitee %></li>
  <% end %>
</ul>
