<h1><%= @event.title %></h1>
<h3>Host: <%= link_to @event.host.name, @event.host %></h3>

<p>
Location:
<%= @event.location %>
</p>
<p>
Start Time:
<%= @event.start_time%>
</p>
<p>
Description:
<%= @event.description%>
</p>


<% if current_user_is_host? %>
  <div id="invitation-form">
    <%= render 'select-invitee-form' %>
  </div>
<% end %>

<% if current_user %>
  <%= render 'rsvp' %>
<% end %>

<!-- only logged in users can see attendance details -->
<% if current_user %>
  <div id="attendance-details">
    <%= render 'attendance-details'%>
  </div>
<% end %>
