<h1><%= @event.title %></h1>
<h3>Host: <%= link_to @event.host.name, @event.host %></h3>

<p>
Location:
<%= @event.location %>
</p>
<p>
Start Time:
<%= @event.start_time%>
</p>
<p>
Description:
<%= @event.description%>
</p>

<% if current_user == @event.host %>
  <%= form_with(model: @event.host.sent_invitations.new ) do |f| %>
    <%= f.hidden_field :event_id, value: @event.id %>
    <%= f.collection_select(:invitee_id, 
                            User.all.where("id != ?", @event.host.id), 
                            :id, 
                            :name, 
                            prompt: 'Select an invitee') %>

    <%= f.submit "Invite" %>
  <% end %>
<% end %>

<!-- only change attendance of future event not hosted by current user -->
<!-- only logged in users can see attendance details -->
<% if current_user && future_non_hosted_event?(@event) %>

  <%= form_with(model: @rsvp) do |f| %>

    <%= f.hidden_field :event_id, value: @event.id%>
    <%= f.hidden_field :invitee_id, value: current_user.id%>
    
    <% if @event.invitees.include?(current_user) && @rsvp.attending == 'yes' %>
      <p>You're attending this event</p>
      <%= f.hidden_field :attending, value: 'no' %>
      <%= f.submit "Cancel Attendance"%>

    <% else %>
      <p><%= @event.host.name %> invited you. </p>
      <%= f.hidden_field :attending, value: 'yes' %>
      <%= f.submit "Attend Event" %>

    <% end %>
  <% end %>
<% end %>

<!-- only logged in users can see attendance details -->
<% if current_user %>
  <% current_is_host = current_user == @event.host %> 
  <h4>Invitees</h4>
  <ul>
    <% @event.invitations.each do |invitation| %>
      <li><%= link_to invitation.invitee.name, invitation.invitee %></li>
      <% if current_is_host %>
        <%= form_with(model: @rsvp, url: invitation_path, method: :delete, action: :destroy) do |f| %>
          <%= f.hidden_field :event_id, value: @event.id%>
          <%= f.hidden_field :invitee_id, value: invitation.invitee.id%>
          <%= f.submit "Cancel Invitation"%>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <h4>Attendees</h4>
  <ul>
    <% @event.invitations.where(attending: 'yes').each do |invitation| %>
      <li><%= link_to invitation.invitee.name, invitation.invitee %></li>
    <% end %>
  </ul>
<% end %>
