<section class="section">
  <div class="columns is-mobile">
    <div class="column">
      <h1 class="has-text-centered title is-size-5-mobile is-capitalized"><%= @event.title %></h1>
      <div class="columns is-mobile">
        <p class= "column has-text-centered subtitle">hosted by
          <% if @event.host == current_user %>
            <%= link_to "You", @event.host, class: "mx-1" %>
          <% else %>
            <%= link_to @event.host.name, @event.host, class: "mx-1" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="columns is-desktop">
    <%= render 'event_info' %>
    <div class="columns is-mobile">
      <div class="column is-half is-offset-one-quarter has-text-centered">
        <!-- only host can invite guests. Event must be in future to invite a guest. -->
        <% if current_user_is_host? && Event.upcoming.include?(@event) %>
          <div id="invitation-form">
            <%= render 'select-invitee-form' %>
          </div>
        <% end %>
        <% if current_user %>
          <%= render 'rsvp' %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<!-- id necessary for jquery ajax request -->
<div id="attendance-details">
  <div>
    <% if current_user %>
      <%= render 'attendance-details'%>
    <% end %>
  </div>
</div>
</section>
