<h1>Create a new invitation</h1>
<%= form_with(model: @invitation, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>


  <%= f.label :invitee %>
  <%= f.collection_select :invitee_id, @users, :id, :name %>
  <%# collection_select(:post, :author_id, Author.all, :id, :name_with_initial, prompt: true) %>
  

  <%= f.label :event %>
  <%= f.collection_select :event_id, @events, :invitee_ids, :title %>
  

  <%= f.submit "Send Invitation" %>
<% end %>