<h2>
<%= @invitation.event.host.name %> invites <%= @invitation.invitee.name %> 
to <%= link_to @invitation.event.title, @invitation %>
</h2>

<h3>Current RSVP status: <%= @invitation.attending %> </h3>

<% if current_user == @invitation.invitee %>
  <%= form_with(url: invitation_path, method: :patch, action: :update, local: true) do |f| %>

    <%= f.radio_button :attending, 'yes'%>
    <%= f.label :attending, 'Yes' %>

    <%= f.radio_button :attending, 'no' %>
    <%= f.label :attending, 'No' %>

    <%= f.radio_button :attending, 'no response' %>
    <%= f.label :attending, 'No response'  %>

    <%= f.submit "Update RSVP" %>
  <% end %>
<% end %>

<%= link_to "Back to Event", @invitation.event%>