<!DOCTYPE html>
<html class="has-background-white">
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar is-white has-shadow">
      <div class="navbar-brand">
        <%= link_to "PrivateEvents", events_path, class: "is-italic navbar-item is-size-4 py-2 px-2" %>
        <a class="navbar-burger" id="burger">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      <div class="navbar-menu" id="nav-links">

        <div class="navbar-end">
          <%= link_to "New Event", new_event_path, class: "navbar-item is-primary" %>
          <%= link_to "All Events", events_path, class: "navbar-item" %>
          <% if current_user %>
     
            <p class="navbar-item has-text-info-dark"><%=link_to current_user.name, current_user %></p>
            <%= link_to "Logout", logout_path, method: "delete", class: "navbar-item has-text-warning-dark" %>
          <% else %>
            <%= link_to "Sign Up", signup_path, class: "navbar-item"%>
            <%= link_to "Login", login_path, class: "navbar-item has-text-primary-dark"%>
          <% end %>

        </div>
      
      </div>

    </nav>
    <% flash.each do |message_type, message| %>
       <%= content_tag(:p, message, class: "notification is-#{message_type}") %>
    <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
  </body>
</html>
